table {
  width: 100%;
}
.mat-row:hover {
  background-color: #e8eaf6;
  cursor: pointer;
}

.expense-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem 0;
}
.mat-card {
  background-color: orange;
  color: white;
}
.expense-amount {
  background-color: rgb(241, 104, 104);
}
.balance-amount {
  background-color: rgb(87, 87, 243);
}

.cell-income {
  background-color: orange;
  color: white;
  margin: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 5rem;
}
.cell-expense {
  background-color: rgb(241, 104, 104);
  color: white;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 5rem;
}
