table {
  width: 100%;
}
.mat-row:hover {
  background-color: #e8eaf6;
  cursor: pointer;
}

.cell-income {
  background-color: orange;
  color: white;
  margin: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 5rem;
}
.cell-expense {
  background-color: rgb(241, 104, 104);
  color: white;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 5rem;
}
